---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ThreeGenerationScenarios from '../components/ThreeGenerationScenarios.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import Faq from '../components/Faq.astro';
import MonitorCta from '../components/MonitorCta.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <ThreeGenerationScenarios />
    <Features />
    <Faq />
    <Pricing />
    <MonitorCta />
  </main>
  <Footer />
</BaseLayout>
